<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-star-empty"></span>
                SWAPI WEB APP
                <span class="glyphicon glyphicon glyphicon-star-empty"></span>
            </a>

            <ul class="nav navbar-nav">
            </ul>
        </div>
    
    </div>
    </nav>